:root{
    --primery-text:font-family:'Roboto',sans-serif;
    --color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-text: #2e2f42;
	--color-green: #31d0aa;
	--color-desc: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-studio-footer: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white:#FFFFFF;
	--color-dairy: #fcfcfc;}


h1,h2,h3,h4,h5,p{margin: 0;}
ul{margin: 0;
   }
img{display: block;}

body{color:#434455;
    background-color:var(--color-white);
    font-family: "Roboto", sans-serif;
   }

.list{list-style: none;
    padding: 0;
    margin: 0;}
.link{text-decoration: none;}


/* ============ FONTS FOR SECTIONS */
.section-name{font-family:var(--primery-text);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2E2F42;
    }
.content-name{font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
    margin-bottom: 8px;}
.content-text{ font-family: var(--primery-text);
	font-size: 16px;
	font-family: var(--primery-text);
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--color-desc);}
.content-name-divais{display: flex;
    justify-content: center;
    font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.content-text-divais{font-family: var(--primery-text);
	font-size: 16px;
	font-family: var(--primery-text);
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--color-desc);}

/* ============ FINISH FONTS FOR SECTIONS========== */

/* ==========CONTAINER DES======= */
.container {
  min-width: 320px;
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1400px;
    padding: 0 15px;
  }
}

.page-header-container{ display: flex;
   align-items: center;
   text-align: center;
  
}
.mob-menu-open{ border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    align-items: center;
    margin-left: auto;
}
/* ========== FINISH CONTAINER DES======= */

/* ===========TOP LINE =========*/

.header-page{
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 1px 0px 2px rgba(46, 47, 66, 0.08), 1px 0px 1px
    rgba(46, 47, 66, 0.16), 6px 0px 1px
    rgba(46, 47, 66, 0.08);
      }
.logo{
      font-family:'Raleway',sans-serif;
      font-style:normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4D5AE5;
       }
.studio{
     color: #2E2F42;
  } 

/* ============== Mobile menu ============= */

.mobile{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-close-btn{
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   position: absolute;
   top: 24px;
   right: 16px;
   background-color:var(--color-cornflower);
   border: 1px solid #2E2F42;
   cursor: pointer;
   border-radius:50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   width: 24px;
   height: 24px;}

mobile-menu-close-icon{fill: #2E2F42;}
 
.mobile-container{position: relative;
    width: 428px;
    padding: 80px 40px 40px 40px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .mob-menu-open{display: none;}
}
.nav-item-mobile{
    font-family:var(--primery-text);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.activ{color:var(--color-ocean);}

.menu-item-mobile:not(:last-child){margin-bottom: 40px;}
.mob-menu-contact{margin-top: 284px;}

.contact-item-mobile:not(:last-child){margin-bottom: 40px;}
.tel-contact-mobile{
    color:var(--color-iris);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;}
.mail-contact-mobile{
    font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;}
  
.social-list-mobile{
    margin-top: 48px;
    display: flex;
    gap: 56px;}


@media screen and (max-width: 768px) {
    .menu-contact{
    display: none;}
      
    .menu-nav{
    display: none;}
}
      

/* =========MOBILE MENU FINISH=========== */

@media screen and (min-width: 768px) {
    .header-page{padding: 0;}
    .menu-nav{display: flex;
       margin-left: 120px;}
    .menu-contact{margin-left: 120px;}
    .nav-page{display: flex;}

    .nav-item{ display: flex;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0px;
    font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;}
    .nav-item-.mobile.activ{ background:var(--color-ocean);}

    .menu-item:not(:last-child){margin-right: 40px;}

    .nav-item::after{ 
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0; }
    .nav-item.activ::after{ background:var(--color-ocean);}
    .nav-item.activ{color: var(--color-ocean);}
    .address{ font-style: normal;}
    .menu-contact{margin-left: 120px;}
    .contact{
    /* padding: 24px 0px; */
    font-family: var(--primery-text);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
    .contact:hover, 
    .contact:focus{color:var(--color-ocean);
        outline: none;
    } 
@media screen and (min-width: 1158px) {
        .menu-nav{margin-left: 76px;}
        .menu-contact{display: flex;
            text-align: center;
            justify-content: space-between;
            margin-left: 332px;
        }
        .contact{
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
        .contact:hover, 
        .contact:focus{color:var(--color-ocean);
            outline: none;}
        .contact-item:not(:last-child){margin-right: 40px;} 
    }
}

/* ============FINISH TOP LINE ======================= */ */

/* ==========HERO================= */

.hero{ text-align: center;
    margin-top: 0px;
    padding: 112px 0;
    background-color:#2E2F42;
    color: #FFFFFF;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero/people-office-mob.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;}
@media only screen and (min-width: 469px) {
    .hero{ background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero/people-office-tab.jpg)
    
  }
}
@media only screen and (min-width: 769px) {
    .hero{ background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/hero/people-office.jpg)
    
  }
} 
.hero-title{max-width: 496px;
    margin-bottom: 48px;
    font-family: var(--primery-text);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height:1.11;
    letter-spacing:0.02em;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;}

.btn{ transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    display: block;
    border-radius: 4px;
    min-width: 169px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    background: #4D5AE5;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.04em;
    margin: auto;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}
@media only screen and (min-width: 1158px){
    .btn{ transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
   
    .btn:hover,
    .btn:focus{background: #404BBF;}
@media only screen and (min-width: 768px) {
   .hero{
    font-size:56px;
    line-height:1.07; }
}


/* ====== FINISH HERO */

/* ========Section 1====== */

.section{padding-top: 96px;
    padding-bottom: 96px;
    }
@media screen and (min-width:1158px) {
    .section{padding-top: 120px;
     padding-bottom: 120px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
@media screen and (max-width: 1158px){
    .content-name-divais{font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
       }
    .content-text-divais{font-style: normal;
        font-weight: 500;
        font-size: 1.5;
        line-height: 24px;}
    .pictures-feture{display: none;}
}
.feature-menu{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;}
    @media screen and (max-width: 768px){
        .feature-menu-items{justify-content: center;}

    }
@media screen and (min-width: 768px){
    .feature-menu{
        column-gap: 24px;
        justify-content: space-between;}
    .feature-menu-items{width: 356px;}
    .content-name-divais{display: block;}
}

@media screen and (min-width: 1158px){
    .feature-menu{
        flex-wrap: nowrap;}
    .feature-menu-items{width: calc((100%-24px*3)/4);}
    .pictures-feture{
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;}
}
/* ============ FINISH SECTION 1 =========== */
/* ====== =====SECTION 2 =========== */
.work{
    display: flex;
    gap: 24px;}

   .pictures{width:calc((100% - 48px) / 3); 
    display: flex;}

   .position{display: block;}

.section-hidden{display: none;}
@media screen and (min-width: 1158px){
    
   .section-hidden{display: block;}
}
/* ============ FINISH SECTION 2 =========== */


/* ======  SECTION  3 Our Team =========*/
.section-team{
    background: #F4F4FD;
}
.card{
    background-color:var(--color-white);
    background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

}

.employees{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
}

.card-signature{padding: 32px 0;
text-align: center;
}
.job-title{margin-bottom: 8px;}
.social-list{display: flex;
    justify-content: center;
    gap: 24px;
}
.social-list-link{transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
outline: none;
background-color:#4d5ae5;
border-radius: 50%;
fill:var(--color-studio-footer);

}
.social-list-icon{transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.social-list-link:hover,
.social-list-link:focus{background-color:#404bbf;}
    
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{fill:var(--color-studio-footer);}
@media screen and (min-width: 768px){
    .employees{row-gap: 64px;}
}
@media screen and (min-width: 1158px){
    .employees{ column-gap: 24px;
    flex-wrap: nowrap;}
    .employees .card:not(:last-child){margin-right: 24px;}
}

/* ======== FINISH SECTION  3 Our Team ======== */

/* =============SECTTION 4 ===========*/


.title-customers{font-family:var(--primery-text);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2E2F42;}
.custumer-list{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
}
.custumer-list-link{transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8E8F99;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    width: 168px;
    height: 88px;
    justify-content: center;

}
.custumer-list-icon{ transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    fill: currentColor;
    width: 104px;
    height: 56px;
    text-align: center;
}

.custumer-list-link:hover,
.custumer-list-link:focus{color: #404bbf;
    border-color: #404BBF;}

   
.custumer-list-link:hover .custumer-list-icon ,
.custumer-list-link:focus .custumer-list-icon{color:#404bbf;
    border-color:#404bbf;}
/* =============FINISH SECTION 4=========== */
    /* ========PORTFOLIO======= */

.menu-filter{
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}
.portfolio-section{padding-top: 96px}

.menu-filter .filter-item:not(:last-child){margin-right: 24px;}

.btn-filter{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    padding: 12px 24px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background: #F4F4FD;
    }
.btn-filter:hover,
.btn-filter:focus{color: #FFFFFF;
    background: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;}

.card-portfolio{
    width: calc((100% - 48px)/3);}
.card-decor{display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.card-decor:hover,
.card-decor:focus{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
    ;transform: translateY(0%);}

.card-description
{padding: 32px 16px;
    border-left:1px solid #E7E9FC ;
    border-right:1px solid #E7E9FC ;
    border-bottom:1px solid #E7E9FC ;
    background: #FFFFFF;}

.overlay-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family:var(--primery-text);
    font-style: normal;
    font-size: 16px;
    line-height:24px;
    letter-spacing: 0.02em;
    color:var(--color-studio-footer);
    background-color: var(--color-iris);
    padding: 40px 32px;
}

.thumb-card{
    position: relative;
    overflow: hidden;
}

.card-decor:hover .overlay-card,
.card-decor:focus .overlay-card{transform: translateY(0%);}

/* ============FOOTER=========== */

.studio-footer{font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-studio-footer);
    }  

.footer{ background-color:#2E2F42;
    padding: 96px 0;}
    

.footer-all{display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
    

}

.foter-container-logo{display: inline-block;
   width: 268px;}

.footer-text{
    max-width: 268px;
    font-family: var(--primery-text);
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-studio-footer);}
.logo-footer{ display: flex;
    justify-content: center;
    font-family:'Raleway',sans-serif;
    font-style:normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

    margin-bottom: 16px;}
.title-media{ display: flex;
    justify-content: center;
    font-family: var(--primery-text);
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 24px;
    align-items: center;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
    margin-bottom: 16px;
    margin-top: 0;
    color: #FFFFFF;}
.footer-media{
    width: 268px;
    margin: 0;
   }
.social-list-footer{display: flex;
    justify-content: center;
    gap: 16px;}

.foter-social-list-icon{
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);fill: var(--color-studio-footer);
 width:24px;
 height:24px;}
.foter-social-list-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-iris);
    border-radius: 50%;
    }
.foter-social-list-link:hover,
.foter-social-list-link:focus{background-color:var(--color-green);}

.foter-social-list-link:hover .foter-social-list-icon,
.foter-social-list-link:focus .foter-social-list-icon{fill: var(--color-cornflower);}
.footer-form{
    width: 398px;
} 
.footer-input{display: flex;
    justify-content: center;
   transition: border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    padding-left:16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 398px;
    height: 40px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-bottom: 8px;
    
}
.footer-input:focus{border-color:#31d0aa;}

.footer-btn{
    width: 165px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: auto;
    fill: var(--color-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px){
    .footer-btn{
        margin-left: 24px;}
}
.footer-btn:hover,
.footer-btn:focus{background-color:var(--color-green);}
@media screen and (min-width: 768px){
    .footer-text{
        max-width: 264px;}
    .footer-form{
        width: 453px;}
    .title-media{ 
        display: block;}
    .logo-footer{ 
       display: block;}
    .input-position{ display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .footer-media{ 
        width: 208px;
        margin: 0;}
    .footer-input{width: 264px;margin: 0;}
    .footer-all{justify-content:center;}
}
@media screen and (min-width: 1158px){
    .footer{padding: 100px 0;}
    .footer-all{flex-wrap: nowrap;
        column-gap: 0;
        align-items: baseline;
        justify-content: left;
       
    }
    .footer-form{
         margin-left: 80px;}
    .title-media{display: block;}
    .foter-container-logo{
    
        margin-right: 120px;
        width: 264px;}
    
   
    
}
/* ==========Modal window============ */

.bacdrop{
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
}
.modal{padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 408px;
    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close-btn{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top:24px;
    right: 24px;
    background-color:var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
      
}
.modal-close-btn:hover{ border: none;
    box-shadow: none;
    background-color:var(--color-ocean);
 
}
.modal-close-btn:focus{
    border: none;
    box-shadow: none;
    background-color:var(--color-ocean);
 
}

.modal-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:var(--color-navy-blue-modal);}

.modal-close-btn:hover .modal-close-icon{fill:var(--color-white);}
.modal-close-btn:focus .modal-close-icon{fill:var(--color-white);}

.bacdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ========FORMS========= */

.form{
    display: flex;
    flex-direction: column;

}
.form-title{width: 360px;
    padding-top: 48px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    align-items: center;
    text-align: center;
    color: #2E2F42;}
   

.title-input{
    font-family: var(--primery-text);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    
}
.wrap-input-form{
    position: relative;
}
.form-input{width: 100%;
    height: 40px;
    margin-bottom: 8px;
    padding-left: 38px;
    gap: 4px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus{border-color:#4D5AE5;}
.form-icon{
    position: absolute;
    display: block;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon{fill: var(--color-iris);}
.coment-form{display: flex;
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 360px;
    padding: 8px 16px;
    min-height: 120px;   
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.coment-form::placeholder{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);}
.coment-form:focus{
    border-color:var(--color-iris);
    outline: none;
}

.modal-chekbox{ display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 24px;
    width: 360px;
    height: 16px;
    gap: 8px;
    cursor: pointer;
}
.fake-chekbox{ display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checkbox{opacity: 0;
    transition: opacity 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.user-agreement:focus + .fake-chekbox{
  border: 1px solid #404BBF;
}
.user-agreement:checked + .fake-chekbox{
    background-color:#4D5AE5;}
.user-agreement:checked .icon-checkbox{
    opacity: 1;
    fill: var(--color-white);
}
.user-agreement:checked + .fake-chekbox .icon-checkbox{opacity: 1;
    fill: var(--color-white);
}
.user-agreement-text{display: inline-flex;
    width: 338px;
    height: 16px;
    font-family: var(--primery-text);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
    order: 1;
    flex-grow: 0; 
    text-align: center;
}

.form-btn{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    font-family:var(--primery-text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 169px;
    height: 56px;
    padding: 0;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.form-btn:hover,
.form-btn:focus{background: #404BBF;
    outline: none;

}

